@import "https://fonts.googleapis.com/css?family=Comfortaa";
*{  
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
}
body {
    font-weight: 300;
    text-align: center;
}

.navbar {
    background: #920202ea;
    height: 100px;
    width: 100%;
    z-index: 12;
    position: fixed;
    align-items: center;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.logo{
    width: 50%;
    float: left;
    line-height: 100px;
    margin-left: 30px;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    color: aliceblue;
    letter-spacing: 5px;
    -webkit-transition: color .5s ease-out;
  -moz-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;
}
.logo a:hover{
   color: blueviolet;
   cursor: pointer;
}
.links {
    height: 100%;
    float: right;
    letter-spacing: 4px;
    line-height: 75px;
    font-size: 20px;
    margin-right: 50px;
}

.links ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.links li{
    list-style: none;
}
.links li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    -webkit-transition: color .5s ease-out;
  -moz-transition: color .5s ease-out;
  -o-transition: color .5s ease-out;
  transition: color .5s ease-out;
}

.links a:hover{
    color: #0099ff;
}

.toggle-button {
    position: absolute;
    top: 40px;
    right: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 31px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media(max-width: 800px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .links {
        display: none;
        width: 100%;
    }

    .links ul{
        width: 100%;
        flex-direction: column;
    }

    .links ul li{
        text-align: center;
    }
    
    .links ul li a{
        padding: .5rem 1rem;
    }
    
    .links.active{
        display: flex;
    }
}

.main-area{
    width: 100%;
    height: 500px;
    position: relative;
    top: 100px;
    background-image: url(Canada.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.main-area h1{
    padding-top: 40px;
    font-size: 70px;
    color: #ddd;
    text-transform: uppercase;
    -webkit-transition: color .5s ease-out;
    -moz-transition: color .5s ease-out;
    -o-transition: color .5s ease-out;
    transition: color .5s ease-out;
}

.main-area h1:hover{
    color: greenyellow;
}

.responsive{
    width: 30%;
    height: auto;
}

.content-area {
    width: 100%;
    position: relative;
    top: 100px;
    background: #ddd;
    height: 1000px;
}

.content-area h2{
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}

.content-area p{
    padding: 2% 0;
    line-height: 30px;
    margin: 15px 0;
    font-size: 20px;
}

.content-area h3{
    font-size: 20px;
}

 .btn {
    display: inline-block;
    padding: 20px 30px;
    background: #000000;
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    transition: 0.5s;
}

.btn:hover{
    background: #dadada;
    color: #ff0000;
    cursor: pointer;
}

footer{
    text-align: center;
    background-color: #000000;
    color: #dadada;
    padding: 20px;
}

footer p{
    margin-top: 100px;
    font-size: 20px;
}
